createdAt: "2018-08-02T19:01:12.163Z"
updatedAt: "2018-08-02T19:01:25.441Z"
type: "MARKDOWN_NOTE"
folder: "5cef29a72e245ea24273"
title: "Readme"
content: '''
  ### Readme
  
  Example test
'''
tags: []
isStarred: false
isTrashed: false
