createdAt: "2018-10-26T03:40:41.201Z"
updatedAt: "2018-10-26T03:40:41.201Z"
type: "MARKDOWN_NOTE"
folder: "5cef29a72e245ea24273"
title: "Games to Play copy"
content: '''
  ### Games to Play
  
  
  [WC1 Campaign file - Chronicles of Azeroth mod for StarCraft II: Wings of Liberty - Mod DB](https://www.moddb.com/mods/chronicles-of-azeroth/downloads/wc1-campaign)
  
  
  Warcraft 1 campaign, gave up, not as good of a story as W III.
'''
tags: []
isStarred: false
isTrashed: false
