createdAt: "2018-07-24T02:07:09.556Z"
updatedAt: "2018-08-31T23:44:31.274Z"
type: "MARKDOWN_NOTE"
folder: "fb2abb5723b1e45552eb"
title: "Reading List for 2018"
content: '''
  ### Reading List for 2018
  
  #### Blockchain
  !!! caution list
  ENGR 003
  - [x] Internet of Things A to Z: Technologies and Applications
  - [x] Solidity Programming Essentials
  - [x] Solidity book for developers
  - [x] Games for Ethereum
  - [x] Hyperledger Composer Book
  - [ ] golang
  - [ ] Matlab stuff, deep learning
  - [ ] Google tensorflow examples learning course.
  !!!
  
  #### Other 
  
  !!! danger books
  - [ ] SelfStudy/Internet of Things A to Z/internet-things-technologies-applications
  !!!
  ## Books to download 
  
  !!! error 
  Libgen books.
  * http://libgen.io/search.php?req=solidity&open=0&res=25&view=simple&phrase=1&column=def
  * http://libgen.io/search.php?req=machine+learning&open=0&res=25&view=simple&phrase=1&column=def
  * http://libgen.io/search.php?&req=data+mining&phrase=1&view=simple&column=def&sort=year&sortmode=DESC
  * http://libgen.io/book/index.php?md5=6FF9CD52DAA815A8CBE453444EC01C64
  * http://libgen.io/book/index.php?md5=EFFAC31057A9E5489C9069845DDF22DD
  !!!
  
  ### Summarize Links
  !!! danger Blockchain Notes add to notes
  Add to lwarp notes lol.
  - [ ] [Web3 Design Principles – beltran – Medium](https://medium.com/@lyricalpolymath/web3-design-principles-f21db2f240c1)
  - [x] [Selecting the best Machine Learning algorithm for your regression problem](https://towardsdatascience.com/selecting-the-best-machine-learning-algorithm-for-your-regression-problem-20c330bad4ef)
  - [ ] [Understanding Web 3 — A User Controlled Internet – The Coinbase Blog](https://blog.coinbase.com/understanding-web-3-a-user-controlled-internet-a39c21cf83f3)
  - [ ] [How to Audit a Smart Contract (Blockgeeks Guide)](http://blockgeeks.acemlnb.com/lt.php?s=47e9a25245c7c2f7e31b1d3108b56620&i=693A730A6A69207)
  !!!
  
  !!! hint AI Notes
  Add to lwarp AI Notes
  - [x] <https://hackernoon.com/the-simplest-explanation-of-machine-learning-youll-ever-read-bebc0700047c>
  !!!
'''
tags: []
isStarred: false
isTrashed: false
