createdAt: "2018-08-30T23:09:17.632Z"
updatedAt: "2018-12-12T05:15:58.368Z"
type: "MARKDOWN_NOTE"
folder: "5cef29a72e245ea24273"
title: "September to Decemeber"
content: '''
  # September to Decemeber
  keep adding new entries to the top
  
  ### Todo List July and Onward
  
  !!! error Current Tasks Highest priority
  **Current tasks** get done quickly.
  
  - [x] Fix gitlabscrapper
  - [x] [GitHub - HazyResearch/pdftotree: A tool for parsing PDF documents into a heirarchical, HTML-like tree.](https://github.com/HazyResearch/pdftotree) Explore that tool and see if i can train a ml model to extract tables from some textbooks. Try to dockerize that. Needed test data, and good truth tables, and bad on large documents.
  - [ ] Built simple url redirect thingy
  - [ ] Tommorow sort out lwarp documents
  - [x] Extract all useful data from my notes for dinosaur ENGR 003. and convert stuff to latex. Almost Done.
  - [x] Portoflio Academic/Sarah Theme on github, probably stick with sarah???
  - [ ] Matlab Exercises and dump to Matlab git repo.
  - [ ] Do typescript tutorial or something, make truffle voting dapp in typescript, vue, and use typechain and other tools. Use typescript vue-dapp add a bunch of good stuff in.
  - [ ] Typescript vue tutorial app or use boilerplate.
  - [ ] Orcalize truffle box, usage. creating an oracle
  - [x] Stack overflow question about chaing transactions with drizzle, the "on the field" [web3.eth.Contract — web3.js 1.0.0 documentation](https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html) Stick voerflow points is at 300
  - [ ] Use Overleaf 2.0 for ENGR 004, create a template minus the lwarp and then add lwarp support at the very end, guess I  could travisci build 
  - [ ] Overleaf 2.0 when git support comes out, I'll go and submodule it my Job Hunting Repo.
  - [x] Convert Solidity-smart contract to docsaurus documentation rather than vuepress and archieve the old repo.
  - [x] Look into rss feeds + tie into discord for gitlab and github
  - [x] Tex live lwarp docker image. Based off blang/latex repo. deploy to docker hub
  - [ ] Find a use for my free cloud compute enginer app probably end up being redmine 
  - [x] Clean up emails and get markdown plugin perhaps
  - [ ] List of links dapp, simple dapp just to experiment with a nuxt box and.or vortex dapp. [Issues · davidroyer/nuxt-markdown-example · GitHub](https://github.com/davidroyer/nuxt-markdown-example/issues) Use that for documentation with static site generator, but I think I'll stick to mkdocs.
  - [ ] vortex dapp with embark to test out the alternative to drizzle
  - [ ] ecommerce dapp using vortex, sotring images of ipfs and having some supply and pruchasing things with tokens? Or using two dapps, one for deploying tokens and one for ecommerce, perhaps manually deploy a tracker contract.
  - [x] Utilize uvic web space, use a gitlab repo, or circleCI repo, but I think I'll use gitlab because their are other files of interest I care about in that repo that I can submodule. [How to deploy any project using FTP with Gitlab Continous Integration (CI)? \\| mrkaluzny](https://mrkaluzny.com/how-to-deploy-any-project-using-ftp-with-gitlab-continous-integration-ci/)
  - [ ] Epic latex theme for listing books and articles of interest, could use my ENGR4Notes instead, or somewhat combine it with jinja, but probably just figure it out manually with a external file that I can reuse/copy paste elsewhere.
  !!!
  
  !!! danger Major Backlog
  The tasks listed below are expected to be done by the end of the term ENGR 004, haha?.
  - [ ] cool [firebase Vue Dapp](https://medium.com/@sebinatx/building-an-ethereum-firebase-user-profile-dapp-part-2-226bcc11ae62, ), typescript
  - [x] Soldiity contracts repo for games, explaining how to use then and more. Also, use solcdoc to make markdoown files and a script for latex/vuepress to include the source? 
  - [ ] Update the Blockchain notes repo.
  - [x] When making the solidity contracts use boostnote minus the admonitions, but write the code in either js or solidity and use [Pandoc Markdown Code Blocks in LaTeX](http://weibeld.net/markdown/pandoc_code_blocks.html) with a custom pandoc template. Idk, don't really care about documenting smart contracts.
  - [x] update python script to probably with jinja based format and maybe latex output.
  - [ ] [Building a chat bot with Nest.js and Dialogflow](https://pusher.com/tutorials/chat-bot-nestjs), extend this app. and look at [How to Build a Vue.js Chat App with ChatEngine | PubNub](https://www.pubnub.com/tutorials/chatengine/vuejs/chat-app/)
  - [ ] Dash application to track ethereum stats and hashgraph
  - [x] Update the Bchain application, Vue-Dapp and finish a basic IPFS app using a box.
  - [ ] Ability to upload sites to ipfs and look into cloudiary
  - [x] Build a basic scrappy bot for reddit, host on scrappy hub and maybe even send data to apis. Used Rss feeds instead.
  - [ ] Consider using [GitHub - thomasreinecke/git-playbook: GIT Playbook is a documentation framework that allows you to create Documentation for your project using Markdown and GH-Pages rapidly](https://github.com/thomasreinecke/git-playbook) as a good final repo for all of my documentation, particularly when it comes to searching for things. 
  - [x] Bot service azure [How to Build a Chat Bot Using Azure Bot Service and Train It with LUIS – Microsoft Faculty Connection](https://blogs.msdn.microsoft.com/uk_faculty_connection/2017/09/08/how-to-build-a-chat-bot-using-azure-bot-service-and-train-it-with-luis/) and train with a bunch of terms. Prefer to use recast or botpress
  - [ ] ERC721 and ERC20 Token example dapp using vue, atomic swaps and [Sign in with Zippie — the world’s fastest dApp onboarding solution now available on Kovan testnet](https://medium.com/zippie/sign-in-with-zippie-the-worlds-fastest-dapp-onboarding-solution-now-available-on-kovan-testnet-1321df2bfd97) and eth graphql [GitHub - ConsenSys/ethql: A GraphQL interface to Ethereum](https://github.com/ConsenSys/ethql) and [GitHub - nori-dot-eco/atomic-markets: Generalized atomic swap marketplaces for ERC-777(advanced token standard) and ERC-721 (non-fungible tokens)](https://github.com/nori-dot-eco/atomic-markets).
  - [ ] Compare with 0x project.
  - [ ] [GitHub - dappuniversity/election: A Decentralized Ethereum Voting Application Tutorial](https://github.com/dappuniversity/election) and combine with [GitHub - maheshmurthy/ethereum_voting_dapp: Simple Ethereum Voting dapp using Truffle framework](https://github.com/maheshmurthy/ethereum_voting_dapp) and [GitHub - bukosabino/truffle-voting-dapp: Example Blockchain voting DApp with truffle](https://github.com/bukosabino/truffle-voting-dapp)
  - [ ] Dash dashboard with auth for uvic job posting stats, remove from personal databoard.
  !!!
  
  !!! caution Minor Backlog
  The tasks listed below are expected to be done by the end of the term ENGR 004.
  - [x] ALso get BOTUI working, https://github.com/botui/botui, so I can get vue based protoflio?, ignore vue base documentation theme, stuick to failing with nuxt, and /or vue based front-end blockchain projects, probably going to use hugo [GitHub - themefisher/navigator-hugo: Navigator Template Hugo Version by themefisher](https://github.com/themefisher/navigator-hugo) and for a landing page use a different hugo theme. Using recast/botpress
  - [x] Porotflio theme done using academic, wait until bootstrap 4 is acepted, or clone the  [GitHub - sourcethemes/academic-kickstart: Easily create a beautiful website using Academic and Hugo](https://github.com/sourcethemes/academic-kickstart) reccomended project. [Hugo Sodium Theme | Hugo Themes](https://themes.gohugo.io/hugo-sodium-theme/) and steal some nice looking icons for solium. 
  - [ ] [Data-Analysis/stocker at master · WillKoehrsen/Data-Analysis · GitHub](https://github.com/WillKoehrsen/Data-Analysis/tree/master/stocker) --- report generator and pick stocks I'm interested in.
  - [ ] Machine Learning
  - [x] Get openSource running on heroku by using google cloud container installing the dependencies specified [Deploy OpenProject to Heroku – the easy way | IMEOS](https://www.imeos.com/blog/2015/03/18/deploy-openproject-to-heroku-the-easy-way/) and deploying to heroku.
  - [ ] Get Latex compiling to surge, not important because of the CI pipeline and github pages.
  - [x] Uvic Career Center Script [David Li](https://dli-redmine.herokuapp.com/issues/3)
  - [ ] Look into vortex truffle box and/or embark box, if I had a good computer with ipfs, I think it I would embark lol.
  - [x] Before the mac is taken away from me, go and make [Laravel Tutorial: Step by Step Guide to Building Your First Laravel Application - Laravel News](https://laravel-news.com/your-first-laravel-application), I actually may want a list of links.
  - [ ] Build a list of links v embark dapp to test how hard emabark is.
  !!!
  
  
  !!! hint job related tasks and career moves
  #### Scripts
  - [x] Create backend that the python scripts hits up so that data can be recorded. See Job Scrapper improvement.
  - [x] Improve script for searching through career-center in uvic. **working decently as it**, but improvements including auto deployment with surge and ,consider CI/CD using a headerless browser such as phantomjs (low priority)
  - [ ] Start dumping list of good companies from scrapping
  - [x] Take care of long term issues such as filing out what games I have on my machine, run python script, and in addition migrate private repos to gitlab and/or make some public. **moved content to bitbucket only E003 repos moved.**
  - [x] Add [David Li](https://dli-redmine.herokuapp.com/) to list of repos to check.
  !!!
  !!! attention Future VVery unimportant tasks
  ### Solidity 
  [GitHub - aunyks/vitruvius: 🛠 Elementary data structures in Solidity for Ethereum Smart Contracts.](https://github.com/aunyks/vitruvius)
  [GitHub - raineorshine/solidity-by-example: A collection of short yet fully-functional contracts that demonstrate Solidity language features.](https://github.com/raineorshine/solidity-by-example)
  
  https://github.com/ethereum/vyper
  [IEEE Xplore Full-Text PDF:](https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=8307397)
  - [ ] [Program the Blockchain](https://programtheblockchain.com) Swipe a bunch of sart contracts
  !!!
  
  Research how to get gitlab and github repos in sync, double pushing is annoying.
  
  #### Section of open source projects
  !!! attention Vuepress-theme-cool
  This contains the todo list for my open source vuepress theme
  - [ ] Adding mindmap package for documentation
  - [ ] Find out how many humans are downloading my packages lol. 
  - [ ] Fix issues 2 and 3
  - [ ] -Steal some things from vuepress-them-ubmla for vuepress-theme coll [GitHub - nakorndev/vuepress-theme-bulma: Bulma.css theme for VuePress](https://github.com/nakorndev/vuepress-theme-bulma)
  - [ ] Upload a documentation library for my theme.
  !!!
  
  !!! note blockchain
  Tasks bchain related, in particular decentralized applications
  - [ ] decentralized storage app, useful for reports that I can link to on the internet, storage and recording where they are stored, do on kovan because it's hard to hack and no one will fuck with that use drizzle box for speed? or nuxt box or typescript box.
  - [ ] Finish off integration todolist for vue dapp, expand user list and write more stuff.
  !!!
  !!! attention yiedl 
  truffle 5.0.0 beta new features for smart contracts in yiedl, check reverts etc...
  !!!
  !!! attention Resume stuff 
  Cool stuff.
  * https://github.com/daniyall/resume-generator
  * [GitHub - raphink/CV: My CV in both LaTeX & web/ajax formats](https://github.com/raphink/CV)
  !!!
  
  !!! hint possibly list of things todo
  Do if bored.
  - [ ] Update pirates game to use webpack and consider rebuliding use vue-phaser webpack in es6.
  - [x] Update python script that parses uvic job board to use requests? tried to use selenium and then requests, didn't work. Won't do.
  - [ ] Deploy some garbage apps using go
  - [ ] Update documentation for vuepress-theme-cool and markdown-notes-template and provide a cheatsheet of what boostnote/vuepress can do together and limitations. 
  - [ ] [GitHub - dsbert/boostnote-exporter: Export notes from boostnote to raw markdown](https://github.com/dsbert/boostnote-exporter)
  - [ ] [Step by Step Approach to create DAPP—using Ethereum, ReactJS & IPFS — Part 1](https://medium.com/coinmonks/step-by-step-approach-to-create-dapp-using-ethereum-reactjs-ipfs-part-1-42ea4cf69488)
  # September to Decemeber
  keep adding new entries to the top
  
  ### Todo List July and Onward
  
  !!! error Current Tasks Highest priority
  **Current tasks** get done quickly.
  
  - [x] Fix gitlabscrapper
  - [x] [GitHub - HazyResearch/pdftotree: A tool for parsing PDF documents into a heirarchical, HTML-like tree.](https://github.com/HazyResearch/pdftotree) Explore that tool and see if i can train a ml model to extract tables from some textbooks. Try to dockerize that. Needed test data, and good truth tables, and bad on large documents.
  - [x] Extract all useful data from my notes for dinosaur ENGR 003. and convert stuff to latex. Almost Done.
  - [x] Portoflio Academic/Sarah Theme on github, probably stick with sarah???
  - [ ] Matlab Exercises and dump to Matlab git repo.
  - [ ] Do typescript tutorial or something, make truffle voting dapp in typescript, vue, and use typechain and other tools. Use typescript vue-dapp add a bunch of good stuff in.
  - [ ] Typescript vue tutorial app or use boilerplate.
  - [ ] VOting app that is centralzied [Build a voting application with Go and Vue.js](https://pusher.com/tutorials/voting-app-go-vuejs)
  - [ ] Orcalize truffle box, usage. creating an oracle
  - [x] Stack overflow question about chaing transactions with drizzle, the "on the field" [web3.eth.Contract — web3.js 1.0.0 documentation](https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html) Stick voerflow points is at 300
  - [ ] Use Overleaf 2.0 for ENGR 004, create a template minus the lwarp and then add lwarp support at the very end, guess I  could travisci build 
  - [ ] Overleaf 2.0 when git support comes out, I'll go and submodule it my Job Hunting Repo.
  - [x] Convert Solidity-smart contract to docsaurus documentation rather than vuepress and archieve the old repo.
  - [x] Look into rss feeds + tie into discord for gitlab and github
  - [x] Tex live lwarp docker image. Based off blang/latex repo. deploy to docker hub
  - [ ] Find a use for my free cloud compute enginer app probably end up being redmine 
  - [x] Clean up emails and get markdown plugin perhaps
  - [ ] List of links dapp, simple dapp just to experiment with a nuxt box and.or vortex dapp. [Issues · davidroyer/nuxt-markdown-example · GitHub](https://github.com/davidroyer/nuxt-markdown-example/issues) Use that for documentation with static site generator, but I think I'll stick to mkdocs.
  - [ ] vortex dapp with embark to test out the alternative to drizzle
  - [ ] ecommerce dapp using vortex, sotring images of ipfs and having some supply and pruchasing things with tokens? Or using two dapps, one for deploying tokens and one for ecommerce, perhaps manually deploy a tracker contract.
  - [x] Utilize uvic web space, use a gitlab repo, or circleCI repo, but I think I'll use gitlab because their are other files of interest I care about in that repo that I can submodule. [How to deploy any project using FTP with Gitlab Continous Integration (CI)? | mrkaluzny](https://mrkaluzny.com/how-to-deploy-any-project-using-ftp-with-gitlab-continous-integration-ci/)
  - [ ] Epic latex theme for listing books and articles of interest, could use my ENGR4Notes instead, or somewhat combine it with jinja, but probably just figure it out manually with a external file that I can reuse/copy paste elsewhere.
  !!!
  
  !!! danger Major Backlog
  The tasks listed below are expected to be done by the end of the term ENGR 004, haha?.
  - [ ] cool [firebase Vue Dapp](https://medium.com/@sebinatx/building-an-ethereum-firebase-user-profile-dapp-part-2-226bcc11ae62, ), typescript
  - [x] Soldiity contracts repo for games, explaining how to use then and more. Also, use solcdoc to make markdoown files and a script for latex/vuepress to include the source? 
  - [x] Update the Blockchain notes repo.
  - [x] When making the solidity contracts use boostnote minus the admonitions, but write the code in either js or solidity and use [Pandoc Markdown Code Blocks in LaTeX](http://weibeld.net/markdown/pandoc_code_blocks.html) with a custom pandoc template. Idk, don't really care about documenting smart contracts.
  - [x] update python script to probably with jinja based format and maybe latex output.
  - [ ] [Building a chat bot with Nest.js and Dialogflow](https://pusher.com/tutorials/chat-bot-nestjs), extend this app. and look at [How to Build a Vue.js Chat App with ChatEngine | PubNub](https://www.pubnub.com/tutorials/chatengine/vuejs/chat-app/)
  - [ ] Dash application to track ethereum stats and hashgraph
  - [x] Update the Bchain application, Vue-Dapp and finish a basic IPFS app using a box.
  - [ ] Ability to upload sites to ipfs and look into cloudiary
  - [x] Build a basic scrappy bot for reddit, host on scrappy hub and maybe even send data to apis. Used Rss feeds instead.
  - [ ] Consider using [GitHub - thomasreinecke/git-playbook: GIT Playbook is a documentation framework that allows you to create Documentation for your project using Markdown and GH-Pages rapidly](https://github.com/thomasreinecke/git-playbook) as a good final repo for all of my documentation, particularly when it comes to searching for things. 
  - [x] Bot service azure [How to Build a Chat Bot Using Azure Bot Service and Train It with LUIS – Microsoft Faculty Connection](https://blogs.msdn.microsoft.com/uk_faculty_connection/2017/09/08/how-to-build-a-chat-bot-using-azure-bot-service-and-train-it-with-luis/) and train with a bunch of terms. Prefer to use recast or botpress
  - [ ] ERC721 and ERC20 Token example dapp using vue, atomic swaps and [Sign in with Zippie — the world’s fastest dApp onboarding solution now available on Kovan testnet](https://medium.com/zippie/sign-in-with-zippie-the-worlds-fastest-dapp-onboarding-solution-now-available-on-kovan-testnet-1321df2bfd97) and eth graphql [GitHub - ConsenSys/ethql: A GraphQL interface to Ethereum](https://github.com/ConsenSys/ethql) and [GitHub - nori-dot-eco/atomic-markets: Generalized atomic swap marketplaces for ERC-777(advanced token standard) and ERC-721 (non-fungible tokens)](https://github.com/nori-dot-eco/atomic-markets).
  - [ ] Compare with 0x project.
  - [ ] [GitHub - dappuniversity/election: A Decentralized Ethereum Voting Application Tutorial](https://github.com/dappuniversity/election) and combine with [GitHub - maheshmurthy/ethereum_voting_dapp: Simple Ethereum Voting dapp using Truffle framework](https://github.com/maheshmurthy/ethereum_voting_dapp) and [GitHub - bukosabino/truffle-voting-dapp: Example Blockchain voting DApp with truffle](https://github.com/bukosabino/truffle-voting-dapp)
  - [ ] BigQuery With jupyter notebook (hosted on azure) to analyze the biggest contracts and more data. Write blog post [Exploring Ethereum with BigQuery and Jupyter Notebook](https://medium.com/@lsgrep/exploring-ethereum-with-bigquery-and-jupyter-notebook-861e583eb0c5) and [notebooks/BigQuery Jupyter Integration.ipynb at master · lsgrep/notebooks · GitHub](https://github.com/lsgrep/notebooks/blob/master/BigQuery%20Jupyter%20Integration.ipynb)
  !!!
  
  !!! caution Minor Backlog
  The tasks listed below are expected to be done by the end of the term ENGR 004.
  - [x] ALso get BOTUI working, https://github.com/botui/botui, so I can get vue based protoflio?, ignore vue base documentation theme, stuick to failing with nuxt, and /or vue based front-end blockchain projects, probably going to use hugo [GitHub - themefisher/navigator-hugo: Navigator Template Hugo Version by themefisher](https://github.com/themefisher/navigator-hugo) and for a landing page use a different hugo theme. Using recast/botpress
  - [x] Porotflio theme done using academic, wait until bootstrap 4 is acepted, or clone the  [GitHub - sourcethemes/academic-kickstart: Easily create a beautiful website using Academic and Hugo](https://github.com/sourcethemes/academic-kickstart) reccomended project. [Hugo Sodium Theme | Hugo Themes](https://themes.gohugo.io/hugo-sodium-theme/) and steal some nice looking icons for solium. 
  - [ ] [Data-Analysis/stocker at master · WillKoehrsen/Data-Analysis · GitHub](https://github.com/WillKoehrsen/Data-Analysis/tree/master/stocker) --- report generator and pick stocks I'm interested in.
  - [ ] Machine Learning
  - [x] Get openSource running on heroku by using google cloud container installing the dependencies specified [Deploy OpenProject to Heroku – the easy way | IMEOS](https://www.imeos.com/blog/2015/03/18/deploy-openproject-to-heroku-the-easy-way/) and deploying to heroku.
  - [ ] Get Latex compiling to surge, not important because of the CI pipeline and github pages.
  - [x] Uvic Career Center Script [David Li](https://dli-redmine.herokuapp.com/issues/3)
  - [ ] Look into vortex truffle box and/or embark box, if I had a good computer with ipfs, I think it I would embark lol.
  - [x] Before the mac is taken away from me, go and make [Laravel Tutorial: Step by Step Guide to Building Your First Laravel Application - Laravel News](https://laravel-news.com/your-first-laravel-application), I actually may want a list of links.
  - [ ] Build a list of links v embark dapp to test how hard emabark is.
  !!!
  
  
  !!! hint job related tasks and career moves
  #### Scripts
  - [x] Create backend that the python scripts hits up so that data can be recorded. See Job Scrapper improvement.
  - [x] Improve script for searching through career-center in uvic. **working decently as it**, but improvements including auto deployment with surge and ,consider CI/CD using a headerless browser such as phantomjs (low priority)
  - [ ] Start dumping list of good companies from scrapping
  - [x] Take care of long term issues such as filing out what games I have on my machine, run python script, and in addition migrate private repos to gitlab and/or make some public. **moved content to bitbucket only E003 repos moved.**
  - [x] Add [David Li](https://dli-redmine.herokuapp.com/) to list of repos to check.
  !!!
  !!! attention Future VVery unimportant tasks
  ### Solidity 
  [GitHub - aunyks/vitruvius: 🛠 Elementary data structures in Solidity for Ethereum Smart Contracts.](https://github.com/aunyks/vitruvius)
  [GitHub - raineorshine/solidity-by-example: A collection of short yet fully-functional contracts that demonstrate Solidity language features.](https://github.com/raineorshine/solidity-by-example)
  
  https://github.com/ethereum/vyper
  [IEEE Xplore Full-Text PDF:](https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=8307397)
  - [ ] [Program the Blockchain](https://programtheblockchain.com) Swipe a bunch of sart contracts
  !!!
  
  Research how to get gitlab and github repos in sync, double pushing is annoying.
  
  #### Section of open source projects
  !!! attention Vuepress-theme-cool
  This contains the todo list for my open source vuepress theme
  - [ ] Adding mindmap package for documentation
  - [ ] Find out how many humans are downloading my packages lol. 
  - [x] Fix issues 2 and 3
  - [ ] -Steal some things from vuepress-them-ubmla for vuepress-theme coll [GitHub - nakorndev/vuepress-theme-bulma: Bulma.css theme for VuePress](https://github.com/nakorndev/vuepress-theme-bulma)
  - [x] Upload a documentation example for my theme.
  !!!
  
  !!! note blockchain
  Tasks bchain related, in particular decentralized applications
  - [ ] decentralized storage app, useful for reports that I can link to on the internet, storage and recording where they are stored, do on kovan because it's hard to hack and no one will fuck with that use drizzle box for speed? or nuxt box or typescript box.
  - [ ] Finish off integration todolist for vue dapp, expand user list and write more stuff.
  !!!
  !!! attention yiedl 
  truffle 5.0.0 beta new features for smart contracts in yiedl, check reverts etc...
  !!!
  !!! attention Resume stuff 
  Cool stuff.
  * https://github.com/daniyall/resume-generator
  * [GitHub - raphink/CV: My CV in both LaTeX & web/ajax formats](https://github.com/raphink/CV)
  !!!
  
  !!! hint possibly list of things todo
  Do if bored.
  - [ ] Update pirates game to use webpack and consider rebuliding use vue-phaser webpack in es6.
  - [x] Update python script that parses uvic job board to use requests? tried to use selenium and then requests, didn't work. Won't do.
  - [ ] Deploy some garbage apps using go
  - [ ] Update documentation for vuepress-theme-cool and markdown-notes-template and provide a cheatsheet of what boostnote/vuepress can do together and limitations. 
  - [x] [GitHub - dsbert/boostnote-exporter: Export notes from boostnote to raw markdown](https://github.com/dsbert/boostnote-exporter)
  - [x] [Step by Step Approach to create DAPP—using Ethereum, ReactJS & IPFS — Part 1](https://medium.com/coinmonks/step-by-step-approach-to-create-dapp-using-ethereum-reactjs-ipfs-part-1-42ea4cf69488)
  - [x] decentralized storage for files  [Hands On: Get Started With Infura and the IPFS on Ethereum](https://medium.freecodecamp.org/hands-on-get-started-with-infura-and-ipfs-on-ethereum-b63635142af0) [GitHub - redacademy/vue-ethereum-ipfs: Distributed Application Starter: Vue front-end, Ethereum / IPFS Backend](https://github.com/redacademy/vue-ethereum-ipfs)
  !!!
  
  !!! note References
  [GitHub - johannbre/markdown-it-admonition: An admonition plugin for markdown-it powered by docarys.io](https://github.com/johannbre/markdown-it-admonition)
  
  ## Ideas
  Think about creating some sort tof database to sort avatar information as a smart contract, just a list of ints, try to make it add up to 32 bit tho.
  ```jsx
  <Avatar
  avatarStyle='Circle'
  topType='LongHairStraight'
  accessoriesType='Blank'
  hairColor='BrownDark'
  facialHairType='Blank'
  clotheType='BlazerShirt'
  eyeType='Default'
  eyebrowType='Default'
  mouthType='Default'
  skinColor='Light'
  />
  ```
  !!!
  ```chart
  {
  "type": "line",
  "data": {
    "labels": [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July"
    ],
    "datasets": [
      {
        "label": "# of bugs",
        "fill": false,
        "lineTension": 0.1,
        "backgroundColor": "rgba(75,192,192,0.4)",
        "borderColor": "rgba(75,192,192,1)",
        "borderCapStyle": "butt",
        "borderDash": [],
        "borderDashOffset": 0,
        "borderJoinStyle": "miter",
        "pointBorderColor": "rgba(75,192,192,1)",
        "pointBackgroundColor": "#fff",
        "pointBorderWidth": 1,
        "pointHoverRadius": 5,
        "pointHoverBackgroundColor": "rgba(75,192,192,1)",
        "pointHoverBorderColor": "rgba(220,220,220,1)",
        "pointHoverBorderWidth": 2,
        "pointRadius": 1,
        "pointHitRadius": 10,
        "data": [
          65,
          59,
          80,
          81,
          56,
          55,
          40
        ],
        "spanGaps": false
      }
    ]
  },
  "options": {}
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
isPinned: true
