createdAt: "2018-08-02T18:59:49.978Z"
updatedAt: "2018-08-02T18:59:52.726Z"
type: "MARKDOWN_NOTE"
folder: "fb2abb5723b1e45552eb"
title: " copy copy"
content: ""
tags: []
isStarred: false
isTrashed: true
