createdAt: "2018-08-02T18:59:33.118Z"
updatedAt: "2018-08-02T19:00:28.170Z"
type: "MARKDOWN_NOTE"
folder: "fb2abb5723b1e45552eb"
title: "Readme"
content: '''
  ### Readme
  
  Example
'''
tags: []
isStarred: false
isTrashed: false
