createdAt: "2018-12-15T21:13:04.765Z"
updatedAt: "2018-12-15T21:16:48.394Z"
type: "MARKDOWN_NOTE"
folder: "4694455fbf620095b8e0"
title: "Cool"
content: '''
  # Cool
  
  [[Translation] Fuukan no Grasesta / 封緘のグラセスタ English Interface Translation - Page 2](http://www.anime-sharing.com/forum/requests-releases-tools-other-mods-123/translation-fuukan-no-grasesta-%E5%B0%81%E7%B7%98%E3%81%AE%E3%82%B0%E3%83%A9%E3%82%BB%E3%82%B9%E3%82%BF-english-interface-translation-764449/index2.html)
  
  [Fuukan no Grasesta \\| ZAP Interface Translations](http://www.zapinterlations.com/2018/12/fuukan-no-grasesta.html)
  
  [[Japanese] [181130][Eushully] 封緘のグラセスタ](http://www.anime-sharing.com/forum/hentai-games-38/japanese-%5B181130%5D%5Beushully%5D-%E5%B0%81%E7%B7%98%E3%81%AE%E3%82%B0%E3%83%A9%E3%82%BB%E3%82%B9%E3%82%BF-763703/)
  
  [[Translation] Fuukan no Grasesta / 封緘のグラセスタ Full English Machine Translation](http://www.anime-sharing.com/forum/requests-releases-tools-other-mods-123/translation-fuukan-no-grasesta-%E5%B0%81%E7%B7%98%E3%81%AE%E3%82%B0%E3%83%A9%E3%82%BB%E3%82%B9%E3%82%BF-full-english-machine-translation-764920/)
  
  Wait a little until the stuff is polished.
  Wait for Utorrent as well.
  Wait for the ZAP translation, I want some quality lol.
'''
tags: []
isStarred: false
isTrashed: false
