createdAt: "2018-08-02T19:00:36.805Z"
updatedAt: "2018-08-02T19:01:09.005Z"
type: "MARKDOWN_NOTE"
folder: "014044bfc8727b62d586"
title: "Readme"
content: '''
  # Readme
  
  Sample Read me, could modify script to find files inside folder, but whatever.
'''
tags: []
isStarred: false
isTrashed: false
