createdAt: "2018-10-26T03:40:53.367Z"
updatedAt: "2018-11-13T06:22:14.181Z"
type: "MARKDOWN_NOTE"
folder: "5e0d61720a3e0b9b0d08"
title: "Things to Write Down in Latex"
content: '''
  ## Things to Write Down in Latex
  
  * BlockStack simple dapp, fork and fuck around with it, but this trustish system is garbage anyway, but play around with it if I have time.
  * oracles in ethereum.
  * Fixes to iPFS dapp
  * [Deploy a MERN stack app on Heroku – Crowdbotics – Medium](https://medium.com/crowdbotics/deploy-a-mern-stack-app-on-heroku-b0c255744a70)
  
  
  Seems that wordpress is useless on free tier only good for non techincal blogging, why do things cost money.
  
  [Boostnote Blog – Personal Site of notes that no one should be able to find!](https://grandfleet.home.blog/)
'''
tags: []
isStarred: false
isTrashed: false
