createdAt: "2018-08-07T02:22:22.977Z"
updatedAt: "2018-08-07T02:23:55.544Z"
type: "MARKDOWN_NOTE"
folder: "5cef29a72e245ea24273"
title: "Portoflio ideas"
content: '''
  ### Portoflio ideas 
  
  [Sodium](https://themes.gohugo.io/theme/hugo-sodium-theme/)  
  
  [Fimply Portfolio Free Responsive Bootstrap Template](https://www.themezy.com/free-website-templates/158-fimply-portfolio-free-responsive-bootstrap-template)
  
  [Landing Page - Start Bootstrap Theme](https://blackrockdigital.github.io/startbootstrap-landing-page/)
  
  [Corlate Free Responsive Bootstrap Template](https://www.themezy.com/free-website-templates/185-corlate-free-responsive-bootstrap-template)
'''
tags: []
isStarred: false
isTrashed: false
