createdAt: "2018-09-27T03:22:57.252Z"
updatedAt: "2018-09-27T03:32:26.783Z"
type: "MARKDOWN_NOTE"
folder: "5cef29a72e245ea24273"
title: "Typescript Dapp"
content: '''
  # Typescript Dapp
  
  use typechain, typescript, parcel maybe, coveralls, solidity all the good stuff anad circleCi.
'''
tags: []
isStarred: false
isTrashed: false
