createdAt: "2018-08-04T15:11:17.395Z"
updatedAt: "2018-08-04T15:11:34.574Z"
type: "MARKDOWN_NOTE"
folder: "5cef29a72e245ea24273"
title: "August to October"
content: '''
  # August to October
  keep adding new entries to the top
  
  ## July-August
  ### Todo List July and Onward
  
  !!! error Current Tasks Highest priority
  **Current tasks** get done quickly.
  - [ ] Finish the ENGR 003 Report
  - [ ] Reading documentation for IOT in both markdown and latex.
  - [ ]. [GitHub - HazyResearch/pdftotree: A tool for parsing PDF documents into a heirarchical, HTML-like tree.](https://github.com/HazyResearch/pdftotree) Explore that tool and see if i can train a ml model to extract tables from some textbooks.
  !!!
  
  !!! danger Major Backlog
  The tasks listed below are expected to be done by the end of the term.
  - [ ] cool [firebase Vue Dapp](https://medium.com/@sebinatx/building-an-ethereum-firebase-user-profile-dapp-part-2-226bcc11ae62, ) 
  - [ ] Soldiity contracts repo for games, explaining how to use then and more.
  - [ ] When making the solidity contracts use boostnote minus the admonitions, but write the code in either js or solidity and use [Pandoc Markdown Code Blocks in LaTeX](http://weibeld.net/markdown/pandoc_code_blocks.html) with a custom pandoc template.
  - [ ] Fix python script on gitlab, auto sending reports to self, with probably jinja based format and maybe latex output.
  !!!
  
  !!! caution Minor Backlog
  The tasks listed below are expected to be done by the end of the term.
  - [ ] ALso get BOTUI working, https://github.com/botui/botui, so I can get vue based protoflio?
  - [ ] Porotflio theme done in vuepress or other.
  - [ ] Update the automatic navbar/sidebar generation for markdown-notes-template.
  - [ ] 
  !!!
   
  
  #### Section of open source projects
  !!! attention Vuepress-theme-cool
  This contains the todo list for my open source vuepress theme
  - [x] [GitHub - docarys/markdown-it-admonition: An admonition plugin for markdown-it powered by docarys.io](https://github.com/docarys/markdown-it-admonition)
  - [ ] Adding mindmap package for documentation
  - [ ] Find out how many humans are downloading my packages lol. 
  !!!
  
  !!! attention Resume stuff 
  Cool stuff.
  * https://github.com/daniyall/resume-generator
  * [GitHub - raphink/CV: My CV in both LaTeX & web/ajax formats](https://github.com/raphink/CV)
  !!!
  
  !!! hint possibly list of things todo
  Do if bored.
  - [ ] Update pirates game to use webpack
  - [ ] Update python script that parses uvic job board to use requests?
  - [ ] update dash dashboard
  - [ ] Deploy some garbage apps using go
  - [ ] Update documentation for vuepress-theme-cool and markdown-notes-template and provide a cheatsheet of what boostnote/vuepress can do together and limitations. 
  - [ ] [GitHub - dsbert/boostnote-exporter: Export notes from boostnote to raw markdown](https://github.com/dsbert/boostnote-exporter)
  
  [百度脑图－便捷的思维工具](http://naotu.baidu.com/file/1d400c82d65cd3fd530ffc55d8eb3783?token=5e57783dc51b3617) Copy mind mpa from that.
  **⚠ You have pasted a link referring an attachment that could not be found in the storage location of this note. Pasting links referring attachments is only supported if the source and destination location is the same storage. Please Drag&Drop the attachment instead! ⚠**
  !!!
  
  !!! note References
  [GitHub - johannbre/markdown-it-admonition: An admonition plugin for markdown-it powered by docarys.io](https://github.com/johannbre/markdown-it-admonition)
  !!!
  ```chart
  {
    "type": "line",
    "data": {
      "labels": [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July"
      ],
      "datasets": [
        {
          "label": "# of bugs",
          "fill": false,
          "lineTension": 0.1,
          "backgroundColor": "rgba(75,192,192,0.4)",
          "borderColor": "rgba(75,192,192,1)",
          "borderCapStyle": "butt",
          "borderDash": [],
          "borderDashOffset": 0,
          "borderJoinStyle": "miter",
          "pointBorderColor": "rgba(75,192,192,1)",
          "pointBackgroundColor": "#fff",
          "pointBorderWidth": 1,
          "pointHoverRadius": 5,
          "pointHoverBackgroundColor": "rgba(75,192,192,1)",
          "pointHoverBorderColor": "rgba(220,220,220,1)",
          "pointHoverBorderWidth": 2,
          "pointRadius": 1,
          "pointHitRadius": 10,
          "data": [
            65,
            59,
            80,
            81,
            56,
            55,
            40
          ],
          "spanGaps": false
        }
      ]
    },
    "options": {}
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
