createdAt: "2018-09-25T01:44:16.824Z"
updatedAt: "2018-09-25T01:44:27.043Z"
type: "MARKDOWN_NOTE"
folder: "5cef29a72e245ea24273"
title: "Table for Latex Stack"
content: '''
  ### Table for Latex Stack
  
  
'''
tags: []
isStarred: false
isTrashed: false
