createdAt: "2018-08-15T03:26:20.388Z"
updatedAt: "2018-08-15T03:26:41.684Z"
type: "MARKDOWN_NOTE"
folder: "5e0d61720a3e0b9b0d08"
title: "August 2018"
content: '''
  ### August 2018
  
  Today summarize these links, espeically the arrow function stuff in the lwarp book I'm making. and dump ipfs links to solidity-smart contracts, get local version of mathjax working, could also see if I could include mathjax locally.
  
  Also https://github.com/sb2nov/resume 
  
  https://github.com/opensorceror/Data-Engineer-Resume-LaTeX
  
  add these tasks to my todo list.
'''
tags: []
isStarred: false
isTrashed: false
