createdAt: "2018-11-13T05:36:19.455Z"
updatedAt: "2018-11-13T05:36:38.427Z"
type: "MARKDOWN_NOTE"
folder: "a2bc795d959ce906dd80"
title: "Books to Read"
content: '''
  # Books to Read
  
  C:\\Users\\wu\\Downloads\\University Fun\\Self Study\\Machine Learning\\GoogleCLoud
'''
tags: []
isStarred: false
isTrashed: false
