createdAt: "2018-08-19T05:17:30.347Z"
updatedAt: "2018-08-19T05:19:20.819Z"
type: "MARKDOWN_NOTE"
folder: "a2bc795d959ce906dd80"
title: "Simple State Functions"
content: '''
  ### Simple State Functions
  
  
  Get basic functionality from 
  
  [Program the Blockchain | State Channels for Two-Player Games](https://programtheblockchain.com/posts/2018/05/11/state-channels-for-two-player-games/)
  
  for working with signatures, and thne put that into a library in the future, but not now.
  
  [Program the Blockchain | Signing and Verifying Messages in Ethereum](https://programtheblockchain.com/posts/2018/02/17/signing-and-verifying-messages-in-ethereum/)
'''
tags: []
isStarred: false
isTrashed: false
